#dropdown_a {
  margin: 31px 108px 0px 108px;
}

.dropdown_container {
  margin-bottom: 30px;
}

.dropdown_menu {
  background-color: #ff6060;
  height: 52px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown_title {
  color: #fff;
  font-size: 24px;
  padding-left: 18px;
}

.dropdown_toogle {
  margin-right: 18px;
}
.dropdown_info p {
  margin: 0;
  padding: 36px 27px 19px 18px;
}
.dropdown_info.active {
  opacity: 1;
  visibility: visible;
  background-color: #f6f6f6;
  width: 100%;
  font-size: 24px;
  border-radius: 5px;
}

.dropdown_info.inactive {
  opacity: 0;
  visibility: hidden;
  width: 100%;
  margin: auto;
}

.dropdown_info.inactive p {
  display: none;
}

.vector_state.active {
  rotate: 180deg;
}

.halfdropDown {
  width: 94%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.halfdropDown:nth-child(2) {
  align-items: flex-end;

}
.halfdropDown .dropdown_menu,
.halfdropDown .dropdown_info {
  width: inherit;
}
.halfdropDown .dropdown_info.inactive {
  height: 0;
}

.halfdropDown .dropdown_info {
  border-radius: 0 0 10px 10px;
}

.halfdropDown .dropdown_info p {
  font-size: 18px;
}

.halfdropDown .dropdown_info li {
  font-size: 18px;
  padding-bottom: 8px;
}

@media screen and (max-width: 768px) {
  #dropdown_a {
    margin: 20px 0 0 0;
  }

  .dropdown_title {
    font-size: 13px;
  }
  .dropdown_toogle {
    margin-right: 6px;

  }
  .vector_state {
    width: 70%;
  }
  .dropdown_title {
    padding-left: 11px;
  }
  .dropdown_menu{
    height: 30px;
  }
  .underSection {
    flex-direction: column;
  }
  .halfdropDown{
    width: 100%;
    margin-bottom: 30px;
  }
  .halfdropDown .dropdown_info p {
    font-size: 12px;
  }
  .halfdropDown .dropdown_info li {
    font-size: 12px;
  }

}
