#error404 {
  font-weight: 700;
  line-height: 80%;
  font-size: 288px;
  text-align: center;
  margin-top: 175px;
  margin-bottom: 66px;
}

h3 {
  margin: 0;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 36px;
}

#navBack {
  display: flex;
  justify-content: center;
  margin-top: 182px;
  font-size: 18px;
  font-weight: 500;
}
